@import "tailwindcss";


[data-theme="light"] {
  --background: 255 255 255;
  --foreground: 17 24 39;
  --card: 255 255 255;
  --card-foreground: 17 24 39;
  --border: 229 231 235;
  --primary: 29 78 216;
  --primary-foreground: 255 255 255;
  --primary-hover: 30 64 175;
  --secondary: 243 244 246;
  --secondary-foreground: 55 65 81;
  --secondary-hover: 229 231 235;
  --accent: 59 130 246;
}
[data-theme="dark"] {
  --background: 0 0 0;
  --foreground: 243 244 246;
  --card: 17 24 39;
  --card-foreground: 243 244 246;
  --border: 55 65 81;
  --primary: 59 130 246;
  --primary-foreground: 255 255 255;
  --primary-hover: 37 99 235;
  --secondary: 55 65 81;
  --secondary-foreground: 243 244 246;
  --secondary-hover: 75 85 99;
  --accent: 96 165 250;
}

body {
  font-family: var(--font-montserrat);
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  padding: 10px 20px;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
.btn-primary {
  background-color: rgb(var(--primary));
  color: rgb(var(--primary-foreground));
}
.btn-primary:hover {
  background-color: rgb(var(--primary-hover));
}
.card {
  background-color: rgb(var(--card));
  color: rgb(var(--card-foreground));
  border: 1px solid rgb(var(--border));
  border-radius: 0.75rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.page{
  padding-top: 50px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;  
}

/* Фони */
.bg-background { background-color: rgb(var(--background)); }
.bg-card { background-color: rgb(var(--card)); }
.bg-primary { background-color: rgb(var(--primary)); }
.bg-secondary { background-color: rgb(var(--secondary)); }

/* Текст */
.text-foreground { color: rgb(var(--foreground)); }
.text-card-foreground { color: rgb(var(--card-foreground)); }
.text-primary { color: rgb(var(--primary)); }
.text-primary-foreground { color: rgb(var(--primary-foreground)); }
.text-secondary { color: rgb(var(--secondary-foreground)); }
.text-accent { color: rgb(var(--accent)); }

/* Бордери */
.border-color { border-color: rgb(var(--border)); }

/* Ручні ховери */
.hover\:bg-primary-hover:hover {
  background-color: rgb(var(--primary-hover));
}
.hover\:bg-secondary-hover:hover {
  background-color: rgb(var(--secondary-hover));
}